MYSQL_DATABASE=FJobDb
MYSQL_USER=fjob
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-root-password
MYSQL_PORT=3307

JWT_ISSUER=FJob.Identity
JWT_AUDIENCE=FJob.Admin
JWT_SIGNING_KEY=replace-with-a-long-random-secret

ADMIN_OPERATOR_USERNAME=admin.operator
ADMIN_OPERATOR_PASSWORD=replace-operator-password
ADMIN_VIEWER_USERNAME=admin.viewer
ADMIN_VIEWER_PASSWORD=replace-viewer-password

API_GATEWAY_PORT=5100
JOB_CATALOG_PORT=5101
ORCHESTRATION_PORT=5102
JOB_SEARCH_PORT=5103
IDENTITY_PORT=5104
FRONTEND_PORT=5105
ADMIN_OPERATIONS_PORT=5106

FRONTEND_APP_NAME=FJob Search
ORCHESTRATION_POLLING_INTERVAL_SECONDS=3
ORCHESTRATION_MAX_ATTEMPTS=3
SEARCH_SYNC_INTERVAL_SECONDS=5
SEARCH_DEFAULT_PAGE_SIZE=20
SEARCH_MAX_PAGE_SIZE=100
